{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icons/favicon-16x16.png' %}"/>
    <title>TastyStep</title>
</head>
<body>
<section class="section" style="background-color: #1a0c0b;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link align-middle" href="{% url "index" %}" style="color: #fff">
                <img class="shopping-bag-icon mb-lg-1 mb-2" src="{% static 'images/icons/home.svg' %}"
                     alt="Shopping bag">
                <span class="p-lg-1 my-lg-1 fs-6">На головну</span>
            </a>
        </li>
    </ul>
</section>
<section class="section">
    <div class="px-4 text-center">
        <div class="col-lg-4 col-md-6 mx-auto">
            <img src="{% static 'images/taxi-online-shopping.png' %}" class="img-fluid p-3" alt="">
        </div>
        <h1 class="display-5 fw-bold pt-5">Дякуємо за покупку!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Очікуйте надходження товару до відділення Нової Пошти</p>
        </div>
    </div>
</section>
</body>
<script type="text/javascript" src="{% static 'css/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script>
    STORAGE_KEY = "tasty_step_cart"
    window.localStorage.removeItem(STORAGE_KEY);
</script>
</html>