{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Sweet Step</title>
</head>
<body>
<section class="section" style="background-color: #1a0c0b;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link align-middle" href="{% url "index" %}" style="color: #fff">
                <img class="shopping-bag-icon mb-lg-1 mb-2" src="{% static 'images/icons/home.svg' %}" alt="Shopping bag">
                <span class="p-lg-1 my-lg-1 fs-6">На головну</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cart' %}" style="color: #fff">
                <img class="shopping-bag-icon mb-lg-1 mb-2" src="{% static 'images/icons/shopping-bag.svg' %}" alt="Shopping bag">
                <span class="p-lg-1 my-lg-1 fs-6">В кошик</span>
            </a>
        </li>
    </ul>
</section>

<section class="section">
    <div class="container ">
        <div class="row">
            <div class="col-lg-7 ">
                <h2 class="h1 mt-3 text-center">Персональні дані</h2>
                <div class="center-block m-auto col-xs" style="max-width: 500px;">
                    <label for="firstName" class="form-label">Ім'я</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">Valid first name is required.</div>
                </div>
                <div class="center-block m-auto col-xs" style="max-width: 500px;">
                    <label for="firstName" class="form-label">Прізвище</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">Valid first name is required.</div>
                </div>
                <div class="center-block m-auto col-xs" style="max-width: 500px;">
                    <label for="firstName" class="form-label">Побатькові</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">Valid first name is required.</div>
                </div>
                <div class="center-block m-auto col-xs" style="max-width: 500px;">
                    <label for="firstName" class="form-label">Номер телефону</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">Valid first name is required.</div>
                </div>
                <div class="center-block m-auto col-xs" style="max-width: 500px;">
                    <label for="firstName" class="form-label">Електронна адреса</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">Valid first name is required.</div>
                </div>
                <div class="center-block m-auto col-xs" style="max-width: 500px;">
                    <label for="firstName" class="form-label">Номер відділення Нової Пошти</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">Valid first name is required.</div>
                </div>

                <div class="col text-center mx-auto">
                    <button class="btn btn-primary my-3 col-xs" style="width: -webkit-fill-available; max-width: 500px;" type="submit">Оплатити</button>
                </div>
            </div>
            <div class="col-lg-5 p-lg-5 d-none d-sm-block">
                 <img src="{% static 'images/taxi-769.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

</body>
<script type="text/javascript" src="{% static 'css/bootstrap/dist/js/bootstrap.js' %}"></script>
</html>