{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>TastyStep</title>
</head>
<body>
<section class="section" style="background-color: #1a0c0b;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link align-middle" href="{% url "index" %}" style="color: #fff">
                <img class="shopping-bag-icon mb-lg-1 mb-2" src="{% static 'images/icons/home.svg' %}"
                     alt="Shopping bag">
                <span class="p-lg-1 my-lg-1 fs-6">На головну</span>
            </a>
        </li>
        <li class="nav-item" id="empty-cart-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'cart' %}" style="color: #fff">
                <img class="shopping-bag-icon mb-lg-1 mb-2" src="{% static 'images/icons/shopping-bag.svg' %}"
                     alt="Shopping bag">
                <span class="p-lg-1 my-lg-1 fs-6">В кошик</span>
            </a>
        </li>
    </ul>
</section>

<section class="section">
    <div class="col " id="cart-empty" style="display: none; text-align: center">
        <br>
        <br>
        <h1 class="display-5 fw-bold pt-5">Корзина пуста!</h1>
        <br>
        <button type="submit" class="btn btn-primary btn-lg"><a href="{% url "index" %}" style="color: white"> Перейти
            до товарів</a>
        </button>
    </div>
    <div class="container" id="cart-not-empty">
        <div class="row">
            <div class="col-lg-7 ">
                <h2 class="h1 mt-3 text-center">Персональні дані</h2>
                <form action="{% url "checkout" %}" method="post">
                    {% csrf_token %}
                    <div class="center-block m-auto col-xs" style="max-width: 500px;">
                        <label for="firstName" class="form-label">Ім'я</label>
                        <input name="firstName" type="text" class="form-control" id="firstName" placeholder="" value=""
                               required>
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <div class="center-block m-auto col-xs" style="max-width: 500px;">
                        <label for="secondName" class="form-label">Прізвище</label>
                        <input name="secondName" type="text" class="form-control" id="Surname" placeholder="" value=""
                               required>
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <div class="center-block m-auto col-xs" style="max-width: 500px;">
                        <label for="middleName" class="form-label">Побатькові</label>
                        <input name="middleName" type="text" class="form-control" id="middleName" placeholder=""
                               value="" required>
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <div class="center-block m-auto col-xs" style="max-width: 500px;">
                        <label for="phone" class="form-label">Номер телефону</label>
                        <input name="phone" type="text" class="form-control" id="Phone" placeholder="" value=""
                               required>
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <div class="center-block m-auto col-xs" style="max-width: 500px;">
                        <label for="email" class="form-label">Електронна адреса</label>
                        <input name="email" type="text" class="form-control" id="Email" placeholder="" value=""
                               required>
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <div class="center-block m-auto col-xs" style="max-width: 500px;">
                        <label for="postOffice" class="form-label">Номер відділення Нової Пошти</label>
                        <input name="postOffice" type="text" class="form-control" id="PostOffice" placeholder=""
                               value="" required>
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <input name="cart" id="cart-input" type="text" placeholder="" value="" required
                           style="display: none">
                    {#                    <button id="sb-btn" type="submit" class="btn btn-primary my-3 col-xs"> Оплатити</button>#}
                    <div class="center-block m-auto col-xs" style="max-width: 500px;">
                        <button id="sb-btn" type="submit" class="btn btn-primary my-3 col-xs"
                                style="width: -webkit-fill-available;"> Замовити
                        </button>
                        <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                </form>


                {#                <div class="col text-center">#}
                {#                    <form id="wayforpay-form" method="post" action="https://secure.wayforpay.com/pay" accept-charset="utf-8">#}
                {#                        <input style="display: none" name="merchantAccount" value="">#}
                {#                        <input style="display: none" name="merchantAuthType" value="">#}
                {#                        <input style="display: none" name="merchantDomainName" value="">#}
                {#                        <input style="display: none"name="orderReference" value="">#}
                {#                        <input style="display: none" name="orderDate" value="">#}
                {#                        <input style="display: none" name="amount" value="">#}
                {#                        <input style="display: none" name="currency" value="UAH">#}
                {#                        <input style="display: none" name="orderTimeout" value="49000">#}
                {#                        <input style="display: none" name="productName[]" value="">#}
                {#                        <input style="display: none" name="productName[]" value="">#}
                {#                        <input style="display: none" name="productPrice[]" value="">#}
                {#                        <input style="display: none" name="productPrice[]" value="">#}
                {#                        <input style="display: none" name="productCount[]" value="">#}
                {#                        <input style="display: none" name="productCount[]" value="">#}
                {#                        <input style="display: none" name="clientFirstName" value="">#}
                {#                        <input style="display: none" name="clientLastName" value="">#}
                {#                        <input style="display: none" name="clientAddress" value="">#}
                {#                        <input style="display: none" name="clientCity" value="">#}
                {#                        <input style="display: none" name="clientEmail" value="">#}
                {#                        <input style="display: none" name="defaultPaymentSystem" value="card">#}
                {#                        <input style="display: none" name="merchantSignature" value="e3d39f9214d1e5d7ad94a35a8682cc36">#}
                {#                        <button id="form-button" class="btn btn-primary my-3 col-xs" type="submit" style="display: none"></button>#}
                {#                    </form>#}
                {#                    <button id="sb-btn" class="btn btn-primary my-3 col-xs" onclick="WayForPay()"> Оплатити</button>#}

                {#                </div>#}
            </div>
            <div class="col-lg-5 p-lg-5 d-none d-sm-block">
                <img src="{% static 'images/taxi-769.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

</body>
<script>
    function isEmpty(obj) {
        return Object.keys(obj).length === 0;
    }
    STORAGE_KEY = "tasty_step_cart"
    let cartItems = localStorage.getItem(STORAGE_KEY);
    cartItems = JSON.parse(cartItems);
    if (isEmpty(cartItems)) {
        document.getElementById("cart-not-empty").style.display = "none";
        document.getElementById("cart-empty").style.display = "block";
        document.getElementById("empty-cart-nav").style.display = "none";
    } else {
        cartItems = localStorage.getItem(STORAGE_KEY);
        document.getElementById("cart-input").value = cartItems
    }



</script>
<script type="text/javascript" src="{% static 'css/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>

</html>