{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icons/favicon-16x16.png' %}"/>
    <title>TastyStep</title>
</head>
<body>
<section class="section" style="background-color: #1a0c0b;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link align-middle" href="{% url "index" %}" style="color: #fff">
                <img class="shopping-bag-icon mb-lg-1" src="{% static 'images/icons/home.svg' %}" alt="Shopping bag">
                <span class="p-lg-1 my-lg-1 fs-6">На головну</span>
            </a>
        </li>
        <li class="nav-item" id="empty-cart-nav">
            <a class="nav-link active" aria-current="page" href="{% url "delivery" %}" style="color: #fff">
                <img class="shopping-bag-icon mb-lg-1" src="{% static 'images/icons/credit-card.svg' %}"
                     alt="Shopping bag">
                <span class="p-lg-1 my-lg-1 fs-6">Оплатити</span>
            </a>
        </li>
    </ul>
</section>
<section class="section">
    <div class="section p-lg-5">
        <div class="row cart-row">
            <div class="col " id="empty-cart" style="display: none; text-align: center">
                <br>
                <br>
                <h1 class="display-5 fw-bold pt-5">Корзина пуста!</h1>
                <br>
                <button type="submit" class="btn btn-primary btn-lg"><a href="{% url "index" %}" style="color: white">
                    Перейти до товарів</a>
                </button>
            </div>
            <div class="col text-col-center" id="table-container">

                <table class="table " id="cart-table" style="text-align: center">
                    <thead>
                    <tr class="py-lg-3">
                        <th scope="col">Товар</th>
                        <th scope="col">Назва</th>
                        <th scope="col">Кількість</th>
                        <th scope="col">Ціна</th>
                        <th scope="col" class="sm-rm">Видалити</th>
                    </tr>
                    </thead>
                    <tbody id="cart-tbody" class="align-middle py-lg-5 py-sm-0">
                    </tbody>
                </table>
                <p id="sum" class="fs-3">Всього: sum</p>
                <form action="{% url "delivery" %}">
                    <input type="text" name="cart" id="cart-input" style="display: none">
                    <button type="submit" class="btn btn-primary btn-lg">Продовжити
                    </button>

                </form>
            </div>

        </div>
    </div>
</section>
<footer style="position: fixed; bottom: 0; padding: 2em">

</footer>
</body>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'css/bootstrap/dist/js/bootstrap.js' %}"></script>
</html>